/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  line-height: 30px;
}
.wrapper{
  display:grid;
  gap:20px;
  align-items: center;
  grid-template-rows: 75px 180px auto auto auto;
  grid-template-areas: 'logo nombre . .',
                       'encabezado . . .',
                       'formulario . . .',
                       '. adicionales adicionales .',
                       'info info info info';
                       
  
}
body {
  background-color: antiquewhite;
}

header{
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
}

  #logo{
    grid-area: 'logo';
    max-width:50px ;
    max-height: 50px;

  
  }
  h1{
    grid-area: 'nombre';
    color: white;
    padding-left: 20px;
  }

  .boxes{
    border-radius: 10px;
  }
.inscripciones{
  grid-area: 'encabezado';
  font-weight:bolder;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  margin: 30px

}
.formulario{
  grid-area: 'formulario';
  display: flex;
  justify-content: center;
}
.botones{
  width: 200px;
  background-color: blueviolet;
  border-color: blue;
  color: aliceblue;
}
.botones:hover{
 cursor: pointer;
 background-color: rgb(186, 120, 248);
 
}
.sectionFichas{
  grid-area: 'adicionales';
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* border-style: solid; */

}
.rows{
  display: flex;
  min-height: 200px;
  width: 900px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  margin: 3px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectDatos{
  width: 500px;
  min-height: 180px;
  display: flex;
  font-size:medium;
  flex-direction: column;
  align-items: left;
  /* background-color: aquamarine; */
}
.sectBtns{
  width: 200px;
  height:50px;
  display: flex;
  font-size:medium;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  margin: 3px;
  /* background-color: aqua; */
  
}
.btnlistDimension{
  width: 100px;
  height:35px;
  margin: 3px;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: rgb(177, 202, 244);
  border-width: 3px;
  color: azure;

}
.btnlistEdit{
  background-color: green;

}
.btnlistDel{
  background-color: red;
}
.btnlistEdit:hover{
  background-color: rgb(5, 85, 5);
  border-color: rgb(126, 115, 115);
  cursor: pointer;
}
.btnlistDel:hover{
background-color: rgb(102, 7, 7);
border-color: rgb(126, 115, 115);
cursor: pointer;

}
  /* ================================FOOTER================================= */
  .foot{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    order: 1;

}
.foot>div{
  grid-area: 'info';
  display: flex;
  color: white;
  flex-direction: column;
  margin: 100px;
  padding: 32px;
  
}
.footlinks>a{
  margin: 10px;
  text-decoration: none;
  color: white;
}




/*======================MEDIA QUERIES==================================*/
/*>>>>>>>>>>>>>>>>>>>>>RESPONSIVE MAX 1280PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (max-width:640px) {

}

/*>>>>>>>>>>>>>>>>>>>>>RESPONSIVE 640PX A 1280PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media screen and (min-width:640px) and (max-width:1280px) {

}
/*>>>>>>>>>>>>>>>>>>>>>RESPONSIVE FROM 1280PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media screen and (min-width:1280px) {
  
}